{% extends "todolist/base.html" %}
{% block title %}
ADD TASKS!
{%endblock%}
{% block body %}

<main class="container">
    <div style="text-align: left;">
        <h2>Add Task</h2>
    </div>
</main>
<div class="container">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Sl No.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>



            {% for id,task,description,status in data %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{task}}</td>
                <td>{{description}}</td>
                <td>{{status}}</td>



                <!-- update popup -->
                <td><button type="button" class="btn btn-outline-primary btn-sm mx-1 button__dtext"
                        data-bs-toggle="modal" data-bs-target="#update">Update <i
                            class="bi bi-pencil-square"></i></button></td>
                <!-- the task boxx -->
                <div class="modal fade" id="update" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Label">Update the task!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="{{url_for('todolist.update',id=id)}}" method="POST">
                                <!-- task-->
                                <div class="modal-body">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="newtitle">Task</label>
                                        <input type="text" class="form-control" value="{{task}}" name="newtitle"
                                            id="newtitle" aria-describedby="emailHelp" placeholder="Task Title">
                                    </div>

                                    <!-- Desc-->
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="newdescription">description</label>
                                        <input type="text" class="form-control" value="{{description}}"
                                            name="newdescription" id="newdescription" aria-describedby="emailHelp"
                                            placeholder="Enter email">
                                    </div>

                                    <!-- status-->
                                    <div class="form-group">
                                        <label for="newstatus">Status:</label>
                                        <select class="form-control" id="newstatus" name="newstatus">
                                            <option>TODO</option>
                                            <option>In Progress</option>
                                            <option>Done</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="submit-task" type="submit" class="btn btn-primary">Update</button>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                </div>
                        </div>
                    </div>
                </div>
                </form>



                <!-- delete pop up -->
                <td><button type="button" class="btn btn-outline-danger btn-sm mx-1" data-bs-toggle="modal"
                        data-bs-target="#delete">Delete <i class="bi bi-trash-fill"></i></button></td>
                <div class="modal fade" id="delete" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content bg-danger">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete Task</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>

                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete {{task}}? </p>
                            </div>
                            <div class="modal-footer">
                                <form action="{{url_for('todolist.delete',id=id)}}" method="POST">
                                    <button type="submit" id="delete-task"
                                        class="btn btn-outline-warning">Delete</button>
                                </form>

                                <button type="button" class="btn btn-outline-dark"
                                    data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>


            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>






<!--add task button -->
<main class="container">
    <div style="text-align: left;">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#task-modal"
            data-source="New Task">Add Task</button>
    </div>
</main>




<!-- the task boxx -->
<div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h5 class="modal-title" id="Label">Add a task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{url_for('todolist.todolist')}}" method="POST">
                <!-- task-->
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="title">Task</label>
                        <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp"
                            placeholder="Task Title">
                    </div>

                    <!-- Desc-->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="description">description</label>
                        <input type="text" class="form-control" name="description" id="description"
                            aria-describedby="emailHelp" placeholder="Enter email">
                    </div>

                    <!--status button -->

                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select class="form-control" id="status" name="status">
                            <option>TODO</option>
                            <option>In Progress</option>
                            <option>Done</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="submit-task" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>
</form>





<!--<div class="container">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>-->



{% endblock %}
